#include <dt-bindings/zmk/matrix_transform.h>

/ {
    chosen {
        zmk,kscan = &kscan0;
    };

    kscan0: kscan {
        compatible = "zmk,kscan-gpio-matrix";
        label = "KSCAN";
        diode-direction = "col2row";

        // 帰り道（Row）を「113」に変更
        row-gpios
            = <&gpio1 13 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>
            ;

        // 行き道（Col）を右側の安全なピンに変更
        col-gpios
            = <&gpio0 31 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)> // 基板の 031
            , <&gpio0 29 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)> // 基板の 029
            , <&gpio0 2  (GPIO_ACTIVE_LOW | GPIO_PULL_UP)> // 基板の 002
            ;
    };
};
