#include <dt-bindings/zmk/matrix_transform.h>

/ {
    chosen {
        zmk,kscan = &kscan0;
    };

    kscan0: kscan {
        compatible = "zmk,kscan-gpio-matrix";
        label = "KSCAN";
        diode-direction = "col2row";

        // row（行）: 002ピン
        row-gpios
            = <&gpio0 2 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>
            ;

        // col（列）: ここを「絶対住所」に書き換えたよ
        col-gpios
            = <&gpio0 6 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>   // 006
            , <&gpio0 31 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>  // 017の代わりに隣の031で試すのもアリだけど、まずは017を正しく指定
            , <&gpio0 20 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>  // 020
            ;
    };
};
