#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

/ {
    keymap {
        compatible = "zmk,keymap";

        default_layer {
            // A, B, C を本来の役割に戻すよ！
            bindings = <
                &kp LSHFT    // 113と031を繋ぐと「左シフト」
                &kp LGUI     // 113と029を繋ぐと「コマンドキー（Mac）」
                &kp Z        // 113と002を繋ぐと「Z」
            >;
        };
    };
};
