/ {
    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
                &kp LSHIFT
                &kp LGUI
                &kp Z
            >;
        };
    };
};
